[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "priorityelasticnet"]
	path = priorityelasticnet
	url = https://github.com/cran/priorityelasticnet
